.brief_info {
  text-align: center;
  padding-bottom: $padding-bottom;
  border-bottom: $gray-light solid 2px;
  p {
    display: inline;
    font-weight: 800;
  }

  .container {
    margin-bottom: $small-marigin-bottom;
  }

  strong {
    display: block;
    margin-bottom: $small-marigin-bottom;
  }
}

img {
  border: 1px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: $image-size;
  height1: $image-size;
  max-width: $image-size;
  max-height: $image-size;
  margin-top: -($image-size/2);
}
