@import "variables";
@import "mixins";
@import "reboot";
@import "briefInfo";
@import "education";

p {
  font-family: "Cursive";
}

body {
  background-color: $background-color;
}

article {
  background-color: $white;
  padding-top: $padding-top-size;
  padding-left: $padding-both-size;
  padding-right: $padding-both-size;
  margin: $margin-top-size;
  padding-top: 0px;
}

.primary_strong {
  font-size: 20px;
}

.secondary_strong {
  color: $primary-color;
}
