@import "variables";
@import "mixins";
@import "reboot";

p {
  font-family: "Times New Roman";
}

body {
  background-color: $background-color;
}

article {
  background-color: $white;
  padding-top: $padding-top-size;
  padding-left: $padding-both-size;
  padding-right: $padding-both-size;
  margin: $margin-top-size;
  padding-top: 0px;
}

.brief_info {
  text-align: center;
  padding-bottom: $padding-bottom;
  border-bottom: $gray-light solid 2px;
  p {
    display: inline;
    font-weight: bold;
    font-family: "Open Sans";
  }

  .container {
    margin-bottom: $small-marigin-bottom;
  }

  strong {
    display: block;
    margin-bottom: $small-marigin-bottom;
  }
}

img {
  border: 1px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: $image-size;
  height1: $image-size;
  max-width: $image-size;
  max-height: $image-size;
  margin-top: -50px;
}

.primary_strong {
  font-size: 20px;
}

.secondary_strong {
  color: $primary-color;
}
